.header {
  display: inline-block;
  p {
    display: inline-block;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 1px;
    color: var(--white);
  }
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--black);
  margin: 10px;
  transition: transform 1s ease-in-out;
  svg {
    margin-right: 20px;
    transform: rotate(45deg);
  }

  p {
    font-family: "IBM Plex Sans", sans-serif;
  }
}

.reload {
  display: block;
  position: absolute;
  z-index: 900;
  right: 0;
  top: 0;
  margin: 10px;
  height: 75px;
  padding: 20px;
  background-color: var(--white);
  color: red;
  cursor: pointer;
  transform-origin: center center;
  transition: color 300ms ease-in-out, transform 1s;
  &:hover {
    transition: color 300ms ease-in-out, transform 1s;
    color: var(--gray-200);
    transform: rotate(45deg);
  }
}
